.code {
  font-family: "Roboto Mono";
}

.container {
  padding: 15px;
}

.source-button {
  margin-left: 15px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.demo-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 50px;
}

.demo-margin {
  margin: 0 10px;
}

.demo-margin:first-of-type {
  margin-left: 0;
}

.demo-carousel {
  margin-top: 16px;
}
