<h1>Default settings</h1>
<mat-carousel>
  <mat-carousel-item
    *ngFor="let item of items"
    backgroundImage="assets/dummy.png"
  ></mat-carousel-item>
</mat-carousel>

<h1>No autoplay</h1>
<mat-carousel [autoplay]="false">
  <mat-carousel-item
    *ngFor="let item of items"
    backgroundImage="assets/dummy.png"
  ></mat-carousel-item>
</mat-carousel>

<h1>No loop</h1>
<mat-carousel [loop]="false">
  <mat-carousel-item
    *ngFor="let item of items"
    backgroundImage="assets/dummy.png"
  ></mat-carousel-item>
</mat-carousel>

<h1>No buttons</h1>
<mat-carousel [showButtons]="false">
  <mat-carousel-item
    *ngFor="let item of items"
    backgroundImage="assets/dummy.png"
  ></mat-carousel-item>
</mat-carousel>

<h1>No stepper</h1>
<mat-carousel [showStepper]="false">
  <mat-carousel-item
    *ngFor="let item of items"
    backgroundImage="assets/dummy.png"
  ></mat-carousel-item>
</mat-carousel>

<h1>Await animation</h1>
<mat-carousel [awaitAnimation]="true">
  <mat-carousel-item
    *ngFor="let item of items"
    backgroundImage="assets/dummy.png"
  ></mat-carousel-item>
</mat-carousel>

<h1>Different outline color</h1>
<mat-carousel>
  <mat-carousel-item
    *ngFor="let item of items"
    outlineColor="#ff000040"
    backgroundImage="assets/dummy.png"
  ></mat-carousel-item>
</mat-carousel>
